# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments (NEVER push these)
venv/
.env/
.venv/

# Jupyter checkpoints
.ipynb_checkpoints/

# Logs
logs/
wandb/
runs/

# System files
.DS_Store
Thumbs.db

# IDE folders
.vscode/
.idea/
